.section
  .container.page-header
    h1 #[a(href="/") #[i.fa.fa-home]] Resume
    a(href="Teresa_Krause_resume.pdf") Download as a pdf #[i.fa.fa.fa-file-pdf-o]

.section
  .container.resume
    include:md /resume/_resume.md