.section
  .container.page-header
    h1 #[i.fa.fa-home] Teresa Krause
    .row
      .col-lg-2.col-md-2.col-sm-4
        h4
          a.nav-link(href="/resume") #[i.fa.fa-info-circle] Resume
      .col-lg-2.col-md-2.col-sm-4
        h4
          a.nav-link(href="/projects") #[i.fa.fa-suitcase] Projects

.section
  .container
    .row
      .col-lg-6.col-md-6
        .section(id="about-me")
          h3.topic-header Where I am
          .row
            .col-lg-12
              img.city-header(src="boston-skyline-01.png" alt="boston skyline")
          for topic in public._data["about-me-present"]
            .row
              .col-lg-12
                h5
                  i.fa(class=topic.icon) 
                  != topic.name
                p
                  != topic.description

      .col-lg-6.col-md-6
        .section(id="about-me-past")
          h3.topic-header Where I've been
          .row
            .col-lg-12
              img.city-header(src="sf-skyline-02.png" alt="san francisco skyline")
          for topic in public._data["about-me-past"]
            .row
              .col-lg-12
                h5
                  i.fa(class=topic.icon) 
                  != topic.name
                p
                  != topic.description


.section(id="contact-me")
  .container
    h3.topic-header Get in Touch
    for contact in public._data["contact-me"]
      .row.contact-wrapper
        .col-lg-12
          a(href=contact.link)
            i.fa.fa-2x(class=contact.icon)
            != contact.description

.container
  .footer #[i.fa.fa-copyright] 2015 Teresa Krause