.section
  .container.page-header
    h1 #[a(href="/") #[i.fa.fa-home]] Projects
    a(href="https://github.com/teresakrause") #[i.fa.fa.fa-github-square] github.com/teresakrause

for project in public.projects._data.projects
  .section
    .container.github
      h3= project.name
      if project["gh-link"]
        p
          a(href="https://github.com/"+project["gh-link"]) #[i.fa.fa-github-alt] #[span= project["gh-link"]]
      != project.objective